@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Petit+Formal+Script&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #47294c;
  --color-primary-light: #7b4f7a;
  --color-secondary: #c3b9b7;
  --color-accent: #687a89;
  --color-background: #faf4fc;
  --color-text: #333333;

  --font-text: 'DM Sans', sans-serif;
  --font-heading: 'Space Grotesk', sans-serif;
  --font-mono: 'DM Mono', monospace;
  --font-script: 'Petit Formal Script', cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: var(--font-text);
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}