@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Petit+Formal+Script&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #183b4e;
  --color-secondary: #36A49F;
  --color-background: #f9f9f6;
  --color-text: #1f1f1f;
  --color-accent: #27548a;
  --color-extra: #f3f3e0;

  --font-text: 'DM Sans', sans-serif;
  --font-heading: 'Space Grotesk', sans-serif;
  --font-mono: 'DM Mono', monospace;
  --font-script: 'Petit Formal Script', cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Hides scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Hides scrollbar for Firefox */
html {
  scrollbar-width: none;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: var(--font-text);
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow: hidden;

  user-select: none;
  /* Disable text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
}


body,
html {
  -webkit-touch-callout: none;
  /* Disable iOS long-press callout */
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

input,
textarea,
.allow-copy {
  user-select: text !important;
  -webkit-user-select: text !important;
}


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) rgba(0, 0, 0, 0.3);
  overscroll-behavior: contain;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 10px;
}